---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="Map and booths">
  <h1>Map and Booths</h1>
  <Map />

</Layout>

<style>
  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
  }
</style>
