---
import Layout from "../layouts/Layout.astro";
import Herosection from "../components/Herosection.astro";
import Infomap from "../components/Infomap.astro";
import NewsCard from "../components/NewsCard.astro";
import Smalltext from "../components/Smalltext.astro";
import Eventcard from "../components/Eventcard.astro";
import Thatsall from "../components/Thatsall.astro";
import Map from "../components/Map.astro";
import Contactform from "../components/Contactform.astro";
import Contact from "./contact.astro";
import Contacttile from "../components/Contacttile.astro";
---

<Layout title="Pattern Site">
  <section>
    <Herosection />
    <Infomap />
    <NewsCard />
    <Smalltext />
    <Eventcard />
    <Thatsall />
    <Map />
    <Contact />
    <Contactform />
    <Contacttile />
  </section>
</Layout>
