---
import Programmecard from "../components/Programmecard.astro";
import Layout from "../layouts/Layout.astro";
import Event from "../components/Event.astro";
---

<Layout title="programme">
  <h1>Programme</h1>
  <h2>22. april 2024</h2>
  <Event />
  <template>
    <div class="card-container">
      <Programmecard title="Titel 1" content="Dette er indholdet til kort 1." image="stien/til/billede1.jpg" />
      <Programmecard title="Titel 2" content="Dette er indholdet til kort 2." image="stien/til/billede2.jpg" />
    </div>
  </template>
</Layout>
<style>
  * {
    font-family: "Roboto", sans-serif;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    margin-left: 355px;
    margin-top: 80px;
  }
</style>
