---
import Layout from "../layouts/Layout.astro";
import Eventcard from "../components/Eventcard.astro";
import Programmecard from "../components/Programmecard.astro";
---

<Layout title="programme">
  <section>
    <h1>Programme</h1>
    <h2>22. april 2024</h2>
    <div class="eventcard">
      <Eventcard img="../public/img/eventbillede1.svg" title="Opening Ceremony" content="A colorful and musical Opening Ceremony for this years Copenhagen Sakura Festival!" time="10.00 - 10.45 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard />
    </div>
    <div class="eventcard">
      <Eventcard />
    </div>
  </section>
</Layout>

<style>
  .eventcard {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  * {
    font-family: "Roboto", sans-serif;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
</style>
