---
import Layout from "../layouts/Layout.astro";
import Eventcard from "../components/Eventcard.astro";
import Thatsall from "../components/Thatsall.astro";
---

<Layout title="programme">
  <section>
    <h1>Programme</h1>
    <h2>22. april 2024</h2>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede1.svg" alt="Image from last years opening ceremony with drums, dancing and happy people." title="Opening Ceremony" content="A colorful and musical Opening Ceremony for this years Copenhagen Sakura Festival!" time="10.00 - 10.45 • Main Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede2.svg" alt="Happy kids and adults playing on Taiko drums" title="Taiko Drums" content="A high powered drum show featuring the japanese taiko drums.The show is performed by Seido Taiko (DK). " time="10.45 - 11.45 • Main Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede3.svg" alt="Two men performing Aikido. One is thrown over the others back." title="Akido" content="A high powered drum show featuring the japanese taiko drums.The show is performed by Seido Taiko (DK). " time="10.45 - 11.45 • Second Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede4.svg" alt="Male and female performing karakte with kicks." title="Karate" content="Famous japanese martial arts. But it might be different from what you’ve been seen on TV!" time="11.45 - 12.40 • Second Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede5.svg" alt="Girls performing their show in colorful kimonos." title="Kimono Show" content="Kimono Show - The national dress of Japan with Kimono Club Denmark and see a true Kitsuke demonstration." time="11.45 - 12.15 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede6.svg" alt="4 girls standing side by side in their cosplays." title="Cosplay Contest" content="This years contest is in collaboration with J-Pop Con. Come with yor friends and bring your best Cosplay!" time="13.00 - 14.00 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede7.svg" alt="Womam writes Japanese calligraphy with black ink" title="Japanese Calligraphy Show" content="A traditional form of artistic writing that beautifully presents the japanese letters." time="14.00 - 14.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede8.svg" alt="Paper cranes hanging in a tree." title="Origami for kids" content="The japanese art of paperfolding. Learn how to make a paper crane with Mr. Hitachi from Japan." time="13.00 - 14.00 • Second stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede9.svg" alt="Woman during a traditional tea ceremony. Sitting on the floor in her kimono. She is holding a teapot." title="Tea Ceremony" content="Yes! Tea is much more than just a hot or cold drink. It’s tradition, art and cultural." time="14.30 - 15.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede10.svg" alt="Mitsune trio consisting of 3 young women. They hold their traditional Japanese instruments and wear colorful kimonos." title="Mitsune Trio" content="The wonderful Mitsune Trio will once again play at Copenhagen Sakura Festival." time="15.30 - 16.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede11.svg" alt="This is a image of Bondori dancegroup dancing and cheering." title="Bondori" content="The famous japanese dancegroup that everyone can join! Come and dance with Bondori." time="16.30 - 18.00 • Main stage" />
    </div>
  </section>
  <section>
    <h2>23. april 2024</h2>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede1.svg" title="Opening Ceremony" content="A colorful and musical Opening Ceremony for this years Copenhagen Sakura Festival!" time="10.00 - 10.45 • Main Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede2.svg" title="Taiko Drums" content="A high powered drum show featuring the japanese taiko drums.The show is performed by Seido Taiko (DK). " time="10.45 - 11.45 • Main Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede3.svg" title="Akido" content="A high powered drum show featuring the japanese taiko drums.The show is performed by Seido Taiko (DK). " time="10.45 - 11.45 • Second Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede4.svg" title="Karate" content="Famous japanese martial arts. But it might be different from what you’ve been seen on TV!" time="11.45 - 12.40 • Second Stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede5.svg" title="Kimono Show" content="Kimono Show - The national dress of Japan with Kimono Club Denmark and see a true Kitsuke demonstration." time="11.45 - 12.15 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede6.svg" title="Cosplay Contest" content="This years contest is in collaboration with J-Pop Con. Come with yor friends and bring your best Cosplay!" time="13.00 - 14.00 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede7.svg" title="Japanese Calligraphy Show" content="A traditional form of artistic writing that beautifully presents the japanese letters." time="14.00 - 14.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede8.svg" title="Origami for kids" content="The japanese art of paperfolding. Learn how to make a paper crane with Mr. Hitachi from Japan." time="13.00 - 14.00 • Second stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede9.svg" title="Tea Ceremony" content="Yes! Tea is much more than just a hot or cold drink. It’s tradition, art and cultural." time="14.30 - 15.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede10.svg" title="Mitsune Trio" content="The wonderful Mitsune Trio will once again play at Copenhagen Sakura Festival." time="15.30 - 16.30 • Main stage" />
    </div>
    <div class="eventcard">
      <Eventcard img="/img/eventbillede11.svg" title="Bondori" content="The famous japanese dancegroup that everyone can join! Come and dance with Bondori." time="16.30 - 18.00 • Main stage" />
    </div>
  </section>
  <section><Thatsall /></section>
  <section class="sakuratræ"><img src="/img/sakuratree.svg" alt="Sakuratræ - 5. element" /></section>
</Layout>

<style>
  .sakuratræ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

  img {
    width: 500px;
  }

  .eventcard {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  * {
    font-family: "Roboto", sans-serif;
    color: #4b4b4b;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    color: #4b4b4b;
  }

  h2 {
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #4b4b4b;
  }
  @media screen and (max-width: 1024px) {
    .sakuratræ {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }

       h1 {
      margin-bottom: 20px;
      color: #4b4b4b;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 34px;
    img {
      width: 250px;
    }
  }
</style>
