<section class="aboutsakura2">
  <div class="about2">
    <img class="sakurablomster" src="img/aboutbillede.svg" alt="Et smukt naturbillede af lyserøde sakurablomster på grene." />
    <div>
      <h2>It all started with a Cherry Blossom</h2>
      <p>
        The original idea came from the noble deed of donation of 200 cherry blossom (Sakura) trees by Mr. Seiichi Takaki, President of Andersen Institute of Bread & Life, the holding company of Andersen Group of Hiroshima City, and the employees of the company.
        <br /><br />The donated trees were planted in Langelinie Park. Mr. Takaki is Honorary Consul of Denmark and he was appointed to the honorable position of ambassador of H.C. Andersen on the occasion of the 200th anniversary of H.C. Andersen’s birthday in 2005. The donated Sakura trees were planted in Langelinie Park.
      </p>
    </div>
  </div>

  <style>
    .about2 {
      display: flex;
      align-items: center;
      gap: 80px;
      margin-top: 100px;
      margin-left: 90px;
      margin-bottom: 40px;
    }

    .aboutsakura2 {
      background-color: #e8f8ff;
      padding: 40px;
    }

    .sakurablomster {
      height: 460px;
      width: 544pxs;
    }

    p {
      max-width: 715px;
    }

    h1 {
      margin-top: 80px;
      margin-bottom: 20px;
      text-align: center;
      color: var(--pink);
    }

    h2 {
      margin-bottom: 20px;
    }
  </style>
</section>
