---
const content = Astro.props.content;
const time = Astro.props.time;
const title = Astro.props.title;
const img = Astro.props.img;
---

<div class="outer">
  <div class="billedecontainer">
    <img src={img} alt="Billede" />
  </div>

  <div class="tekstcontainer">
    <div class="tekst1">
      <p>{title}</p>
    </div>

    <div class="tekst2"><p>{content}</p></div>

    <div class="tekst3"><p>{time}</p></div>
  </div>

  <!-- <div class="tekstcta">
    <p>Read more &#8250;</p>
  </div> -->

  <div class="tekstctaa">
    <a href="#">Read more &#8250;</a>
  </div>
</div>

<style>
  .outer {
    height: 200px;
    width: 1250px;
    background-color: #ffebee;
    border-radius: 5px;
  }

  .billedecontainer {
    height: 180px;
    display: inline-block;
    width: 260px;
    float: left;
    background-color: #ffabee;
    margin: 10px;
    border-radius: 5px;
    flex-grow: 1;
  }

  .billedecontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .tekstcontainer {
    border-radius: 5px;
    position: relative;
    float: left;
    display: flex;
    flex-flow: column;
    overflow: scroll;
  }

  .tekst1 {
  }

  .tekst1 p {
    color: #4b4b4b;
    font-size: 26px;
    font-family: Roboto;
    font-weight: bold;
    margin: 15px;
    margin-left: 10px;
  }

  .tekst2 {
    max-width: 700px;
  }

  .tekst2 p {
    color: #4b4b4b;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    margin: 20px 10px;
  }

  .tekst3 {
    position: relative;
    float: left;
  }

  .tekst3 p {
    color: #4b4b4b;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    margin: 10px;
  }

  .tekstcta {
    height: 200px;
    width: 200px;
    float: right;
    display: inline-block;
    align-content: center;
  }

  .tekstcta p {
    color: #ff5e78;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    font-weight: bold;
    margin-top: 44%;
    margin-bottom: 0;
  }

  .tekstctaa {
    height: 200px;
    width: 200px;
    margin-top: 85px;
    float: right;
    display: inline-block;
    align-content: center;
  }

  .tekstctaa a {
    color: #ff5e78;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 30px;
  }

  @media (max-width: 952px) {
    .outer {
      height: 500px;
      width: 370px;
      background-color: #ffebee;
      border-radius: 5px;
    }

    .billedecontainer {
      height: 180px;
      display: inline-block;
      width: 350px;
      justify-content: center;
      background-color: #ffabee;
      margin: 10px;
      border-radius: 5px;
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 10px;
    }

    .tekstctaa {
display: none;
      align-content: center;
    }

    .tekstctaa a {
     display: none;
    }

    .tekstcontainer {
      border-radius: 5px;
      position: relative;
      text-align: center;
      flex-flow: column;
      overflow: scroll;
    }
    

  .tekst1 p {
    color: #4b4b4b;
    font-size: 26px;
    font-family: Roboto;
    font-weight: bold;
    margin: 15px;
    text-align: center;
  }

  .tekst2 {
    max-width: 700px;
  }

  .tekst2 p {
    color: #4b4b4b;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
  }

  .tekst3 {
   text-align: center;
  }

  .tekst3 p {
    color: #4b4b4b;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
  text-align: center;
  padding: 30px;
  }
</style>
