<section>
  <img src="public/img/sakuralogo.svg" alt="Logo" />
  <div class="listen">
    <div class="liste1">
      <a href="#">Home</a><a href="#">About</a><a href="#">News</a>
      <a href="#">Sponsors</a><a href="#">Archive</a><a href="#">contact</a>
    </div>
    <div class="liste1">
      <a href="#">Home</a><a href="#">About</a><a href="#">News</a>
      <a href="#">Sponsors</a><a href="#">Archive</a><a href="#">contact</a>
    </div>
    <div class="liste1">
      <a href="#">Home</a><a href="#">About</a><a href="#">News</a>
      <a href="#">Sponsors</a><a href="#">Archive</a><a href="#">contact</a>
    </div>
    <div class="liste1">
      <a href="#">Home</a><a href="#">About</a><a href="#">News</a>
      <a href="#">Sponsors</a><a href="#">Archive</a><a href="#">contact</a>
    </div>
  </div>
  <p>Unsolicited Web Redesign by Cecillie Andersen Illustrations from The Noun Project licenced under a Creative Commons Attribution 3.0 International License.</p>
</section>

<style>
  img {
    margin-top: 40px;
    margin-left: 40px;
  }
  p {
    padding-bottom: 20px;
    text-align: center;
  }
  .listen {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    text-align: center;
    padding-bottom: 20px;
  }
  .liste1 {
    display: flex;
    flex-direction: column;
  }
  .liste1:last-child {
    grid-column: 5;
  }

  * {
    background-color: white;
    margin-bottom: 20px;
  }
</style>
