---
import Textbutton from "../components/Textbutton.astro";
---

<div class="mapframe">
  <div class="tekst">
    <h2>Join Us at Lagelinje Park</h2>
    <p>Located right in the heart of Copenhagen, Langelinje Park hosts the Sakura Festival every year.</p>
    <p>Get lost in the magic of the blossoming Sakura trees and enjoy a wonderful weekend with your friends and familiy.</p>
    <Textbutton href="https://www.openstreetmap.org/#map=19/55.69061/12.59970" target="_blank">
      <span slot="label">Get directions &#8250;</span>
    </Textbutton>
  </div>
  <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=12.597120702266695%2C55.68989309584712%2C12.602270543575289%2C55.69132180152581&layer=mapnik"></iframe>
</div>

<style>
  .mapframe {
    display: flex;
    justify-content: space-between;
    background-color: #e8f8ff;
    border-radius: var(--br-image);
    padding: 2rem;
    align-content: center;
    gap: 8rem;
    max-width: 70rem;
    margin: auto;
    margin-top: 30px;
  }

  .tekst {
    text-align: left;
    justify-content: start;
    margin: 3rem 0;
  }

  iframe {
    min-width: 35%;
  }

  h2 {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 1024px) {
    .mapframe {
      display: flex;
      flex-direction: column-reverse;
      background-color: var(--bg-screens);
      border-radius: 2%;
      margin: 20px;
      padding: 2rem;
      gap: 0;
    }

    h2 {
      margin-top: 30px;
    }
    iframe {
      height: 350px;
    }

    .tekst {
      margin: 0 0;
    }
    .mapframe {
      background-color: #e8f8ff;
    }
  }
</style>
