<section>
  <img src="public/img/mapinfo.svg" alt="Mapinfo" />
</section>

<style>
  img {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

   @media screen and (max-width: 768px) {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }
</style>
