---
const { img, alt, title, text, href } = Astro.props;
---

<div class="newsbanner">
  <article>
    <section>
      <div class="newscard">
        <image src={img} alt="billede" />
        <h2>{title}</h2>
        <p>{text}</p>
        <div class="tekstctaa">
          <a href="#">Read more &#8250;</a>
        </div>
      </div>
    </section>
  </article>
</div>

<style>
  .newsbanner {
    display: inline-block;
    border-radius: 10px;
    border: solid #d6d4d4 1px;
    padding: 10px;
    margin-left: 30px;
    background-color: white;
    margin-bottom: 250px;
    margin-top: 100px;
    max-width: 300px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 5px;
    line-height: 20px;
  }
  a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ff5e78;
    font-size: 20px;
  }

  p {
    text-align: left;
  }

  .tekstctaa {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    .newsbanner {
      margin-left:75px;
    }
  }
</style>
