---
const { img, alt, title, text, href } = Astro.props;
---

<div class="newsbanner">
  <article>
    <section>
      <div class="newscard" >
        <image src={img} alt="bilele" />
        <h2>{title}</h2>
        <p>{text}</p>
        <div class="tekstctaa">
          <a href="#">Read more &#8250;</a>
        </div>
      </div>
    </section>
  </article>
</div>

<style>
  .newsbanner {
    border: 1px solid blue; 
    display: inline-block;
    width: 100%
    border: 1px solid red;
  }



</style>
